.sign-in-container {
  padding: 100px 10%;
}

.form-actions {
  margin: 20px 0;
}

#cancel a {
  color: $red;
  opacity: 0.8;
  transition: 0.2s;
  &:hover {
    opacity: 1;
    text-decoration: none;
    transition: 0.2s;
  }
}
