.instrument-show-container {
  margin: 0 10%;
  margin-top: 100px;
  display: flex;
}

.instrument-show-left {
  background-color: rgba(255, 255, 255, 0.301);
  padding: 12px;
  width: 50%;
  padding-right: 20px;
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  h5 {
    margin: 50px 0;
    font-size: 16px;
  }
}

.instrument-show-righ {
  width: 50%;
}

.instrument-show-actions {
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
}

.instrument-show-message a {
  font-size: 12px;
  border: 1px solid $primary;
  border-radius: 5px;
  padding: 12px 16px;
  color: $primary;
  &:hover {
    background-color: $primary;
    transition: 0.1s;
    text-decoration: none;
    color: white;
    transition: 0.1s;
  }
}

.instrument-show-rent a {
  font-size: 12px;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  padding: 12px 16px;
  transition: 0.1s;
  color: black;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: black;
    transition: 0.1s;
    text-decoration: none;
    color: white;
    transition: 0.1s;
  }
}

#google-map-link i {
  margin-top: 32px;
  color: rgba(0, 0, 0, 0.801);
  &:hover {
    text-decoration: none;
    color: black;
  }
}

#google-map-link a {
  margin-top: 32px;
  color: rgba(0, 0, 0, 0.801);
  &:hover {
    text-decoration: none;
    color: black;
  }
}
