.instrument-index-big-container {
  padding: 180px 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  display: flex;
  // width: 100%;
  // overflow: hidden;
}

.instrument-index-result {
  // position: relative;
  width: 60%;
  // margin-top: 180px;
  // padding: 0px 20px 0 10%;
  transition: 0.3s;
}

.hidden-map-result {
  width: 100%;
  transition: 0.3s;
}

#map {
  position: sticky;
  top: 80px;
  width: 40%;
  border-radius: 5px;
  transition: 0.3s;
}

.hidden-map {
  transform: translateX(100vh);
  transition: 0.3s;
}

.map-show-button-container {
  position: sticky;
  top: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  z-index: 99;
}

#show-map-button:focus {
  box-shadow: none
}
