.instrument-index-big-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.instrument-index-result {
  position: relative;
  width: 60%;
  margin-top: 180px;
  padding: 0px 20px 0 10%;
  transition: 0.3s;
}

.hidden-map-result {
  width: 90%;
  transition: 0.3s;
}

#map {
  position: sticky;
  top: 80px;
  width: 40%;
  margin-top: 200px;
  border-radius: 5px;
  transition: 0.3s;
}

.hidden-map {
  transform: translateX(100vh);
  transition: 0.3s;
}

.map-show-button-container {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
}

#show-map-button {
  font-size: 32px;
  position: absolute;
  right: -73px;
  top: 20px;
  z-index: 9;
}
