<div class="sign-in-container">
  <h1>Your messages:</h1>
  <hr>
  <% @conversations.each do |conversation| %>
  <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
    <% if conversation.sender_id == current_user.id %>
    <% recipient = User.find(conversation.recipient_id) %>
    <% else %>
    <% recipient = User.find(conversation.sender_id) %>
    <% end %>
    <h3><%= link_to recipient.nickname, conversation_messages_path(conversation)%> <%= "#{pluralize(conversation.messages.count, 'message')}" %></h3>
    <h4>Last message: <%= conversation.messages.last.body %></h4>
    <hr>
  <% end %>
  <% end %>
  <% comment do %>
    <% @users.each do |user| %>
    <% if user.id != current_user.id %><h3>
    <%= link_to user.email, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post"%></h3>
    <% end %>
  <% end %>

  <% end %>
</div>
