<div class="photo_display_container">
  <div class="photo_display_big">
  </div>
  <div class="photo_display_thumb">
  <% if @instrument.photos.attached? %>
    <% @instrument.photos.each do |photo| %>
    <div class="photo_display_tiny">
      <%= cl_image_tag photo.key, crop: :fill %>
    </div>
    <% end %>
  <% else %>
  <h2>Picture not available</h2>
  <% end %>
  </div>
</div>
