.calendar-container {
  padding: 100px 10%;
  height: 90vh;
}

.day {
  font-size: 12px;
}

.calendar-content {
  color: white;
  text-align: center;
  justify-content: center;
  margin-bottom: 4px;
  border-radius: 4px;
  padding: 4px;
  a {
    font-size: 12px;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.rented {
  background-color: $red;
}

.loaned {
  background-color: blue;
}


.calendar-indications-rented {
  display: flex;
}

.rented-block {
  width: 12px;
  height: 12px;
  background-color: $red;
  margin-right: 8px;
  margin-top: 4px;
}

.calendar-indications-loaned {
  display: flex;
}

.loaned-block {
  width: 12px;
  height: 12px;
  background-color: blue;
  margin-right: 8px;
  margin-top: 4px;
}

// .calendar-rented-content {
//   position: absolute;
//   width: 100%;
//   font-size: 12px;
//   font-weight: 300;
//   display: flex;
//   text-align: center;
//   background-color: cadetblue;
// }

.calendar-partial {
  background-color: yellow;
  position: absolute;
}

.hidden {
  display: none;
}
