.calendar-container {
  padding: 100px 10%;
  height: 90vh;
}

.day {
  font-size: 12px;
}

.calendar-rented {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: $red;
  a {
    font-size: 12px;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.calendar-loaned {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: blue;
  a {
    font-size: 12px;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}
