// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: rgb(230, 230, 230);
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.73);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(240, 240, 240, 0.93);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.93);
  border-radius: 10px;
}
